<html>
    <body>
        </p><a href="/">Home</a>


{{#if result}}

        <h2>Cartoon: {{result.show}}</h2>
            <ul>
                <li>Show: {{result.show}}</li>
                <li>Original Network: {{result.network}}</li>
                <li>Original Release Date: {{result.airdate}}</li>
            </ul>
<!--                <p>TEST: {{result}}</p>-->

                <p><a href="/delete?show={{result.show}}">Delete</a></p>

{{else}}

        <h2>{{show}} not found</h2>

{{/if}}


    </body>
</html>