<html>
    <body>
        <h2>Home</h2>

            <form method="POST" action="/details">
                <input type="text" name="show" placeholder="Search cartoons..." required maxlength="100">
                <button>Search</button>
            </form>

            <form method="POST" action="/add">
                <input type="text" name="show" placeholder="Add cartoon" required maxlength="100">
                <input type="text" name="network" placeholder="Add OG network" required maxlength="100">
                <input type="text" name="airdate" placeholder="Add year aired" required="required" required maxlength="4">
                <button>Add</button>
            </form>

        <h3>Cartoons</h3>


        {{#each cartoons}}
            <li><a href="/details?show={{show}}">{{show}}</a></li>
        {{/each}}

    </body>
</html>
